{%- if api == "/restconf/data/tailf-ncs:devices/device-group" %}
# Device Groups
{%-     for group in data_to_template['tailf-ncs:device-group'] %}
## Name: {{ group.name }}
### Members
{%-         for member in group.member %}
#### {{ member }}
{%-         endfor %}
### Alarms
#### Criticals: {{ group['tailf-ncs-alarms:alarm-summary'].criticals }}
#### Indeterminates: {{ group['tailf-ncs-alarms:alarm-summary'].indeterminates }}
#### Majors: {{ group['tailf-ncs-alarms:alarm-summary'].majors }}
#### Minors: {{ group['tailf-ncs-alarms:alarm-summary'].minors }}
#### Warnings: {{ group['tailf-ncs-alarms:alarm-summary'].warnings }}
### NEDs
{%-         for ned in group['ned-id'] %}
#### ID: {{ ned.id }}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "/restconf/data/tailf-ncs:devices/device" %}
# Devices
{%-     for device in data_to_template['tailf-ncs:device'] %}
## Name: {{ device.name }}
### Address: {{ device.address }}
### Auth Group: {{ device.authgroup }}
{%-         if device.platform %}
### Platform
#### Model: {{ device.platform.model }}
#### Name: {{ device.platform.name }}
#### Serial Number: {{ device.platform['serial-number'] }}
#### Version: {{ device.platform.version }}
{%-         endif %}
### Commit Queue Enabled By Default: {{ device['active-settings']['commit-queue']['enabled-by-default'] }}
### Connect Retries
#### Attempts: {{ device['active-settings']['connect-retries'].attempts }}
#### Timeout: {{ device['active-settings']['connect-retries'].timeout }}
### Connect Timeout: {{ device['active-settings']['connect-timeout'] }}
### Active Settings
#### LSA No Overwrite Enabled By Default: {{ device['active-settings'].lsa['no-overwrite']['enabled-by-default'] }}
#### NED Keep Alive Count: {{ device['active-settings']['ned-keep-alive'].count }}
#### NED Settings Use JunOS Rollback: {{ device['active-settings']['ned-settings']['use-junos-rollback'] }}
#### No Overwrite Enabled By Default: {{ device['active-settings']['no-overwrite']['enabled-by-default'] }}
#### Out of Sync Commit Behaviour: {{ device['active-settings']['out-of-sync-commit-behaviour'] }}
#### Read Timeout: {{ device['active-settings']['read-timeout'] }}
#### Session Pool: {{ device['active-settings']['session-pool']['idle-time'] }}
#### SSH Keep Alive
##### Count: {{ device['active-settings']['ssh-keep-alive'].count }}
##### Interval: {{ device['active-settings']['ssh-keep-alive'].interval }}
#### Trace: {{ device['active-settings'].trace }}
#### Trace Output: {{ device['active-settings']['trace-output'] }}
#### Write Timeout: {{ device['active-settings']['write-timeout'] }}
### Commit Queue Queue Length: {{ device['commit-queue']['queue-length'] }}
### CLI
#### NED ID: {{ device['device-type'].cli['ned-id'] }}
#### Protocol: {{ device['device-type'].cli.protocol }}
### Host Key Verification: {{ device.ssh['host-key-verification'] }}
### State
#### Admin: {{ device.state['admin-state'] }}
#### Last Transaction ID: {{ device.state['last-transaction-id'] | default("N/A") }}
#### Oper: {{ device.state['oper-state'] }}
#### Oper Error Tag: {{ device.state['oper-state-error-tag'] }}
#### Transaction Mode: {{ device.state['transaction-mode'] | default("N/A") }}
{%-         if device['tailf-ncs-alarms:alarm-summary'] %}
### Alarm Summary
#### Criticals: {{ device['tailf-ncs-alarms:alarm-summary'].criticals }}
#### Indeterminates: {{ device['tailf-ncs-alarms:alarm-summary'].indeterminates }}
#### Majors: {{ device['tailf-ncs-alarms:alarm-summary'].majors }}
#### Minors: {{ device['tailf-ncs-alarms:alarm-summary'].minors }}
#### Warnings: {{ device['tailf-ncs-alarms:alarm-summary'].warnings }}
{%-         endif %}
{%-     endfor %}
{%- elif api == "config_yang_module_state" %}
# Device Config YANG Module State
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Module Set ID: {{ hit['module-set-id'] }}
{%-         for module in hit.module %}
#### Name: {{ module.name }}
##### Namespace {{ module.namespace }}
##### Revision: {{ module.revision }}
##### Conformance Type: {{ module['conformance-type'] }}
{%-             if module.feature %}
##### Feature
{%-                 for feature in module.feature %}
###### {{ feature }}
{%-                 endfor %}
{%-             endif %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "config_yang_library_datastore" %}
# Device Config YANG Library Datastore
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Content ID: {{ hit['content-id'] }}
### Data Store
{%-         for store in hit.datastore %}
#### Name: {{ store.name }}
#### Schema: {{ store.schema }}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "config_yang_library_module_set_import_only" %}
# Device Config YANG Library Module Set Import Only
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for module in hit['module-set'] %}
### Module Name: {{ module.name }}
### Import Only Modules
{%-             for import_only in module['import-only-module'] %}
#### Name: {{ import_only.name }}
##### Namespace: {{ import_only.namespace }}
##### Revision: {{ import_only.revision }}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "config_yang_library_module_set_module" %}
# Device Config YANG Library Module Set Modules
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for module_set in hit['module-set'] %}
### Module Set: {{ module_set.name }}
{%-             for module in module_set.module %}
#### Module Name: {{ module.name }}
##### Namespace: {{ module.namespace }}
##### Revision: {{ module.revision }}
##### Features
{%-                 for feature in module.feature %}
###### Feature: {{ feature }}
{%-                 endfor %}
{%-             endfor %}
{%-         endfor %}
{%-    endfor %}
{%- elif api == "config_yang_library_schema" %}
# Device Config YANG Library Schemas
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for schema in hit.schema %}
### Schema Name: {{ schema.name }}
#### Module Set
{%-             for module_set in schema['module-set'] %}
##### {{ module_set }}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "live_status_yang_module_state" %}
# Device Live Status YANG Module State
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Module Set ID: {{ hit['module-set-id'] }}
{%-         for module in hit.module %}
#### Name: {{ module.name }}
##### Namespace {{ module.namespace }}
##### Revision: {{ module.revision }}
##### Conformance Type: {{ module['conformance-type'] }}
{%-             if module.feature %}
##### Feature
{%-                 for feature in module.feature %}
###### {{ feature }}
{%-                 endfor %}
{%-             endif %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "live_status_yang_library_datastore" %}
# Device Live Status YANG Library Datastore
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Content ID: {{ hit['content-id'] }}
### Data Store
{%-         for store in hit.datastore %}
#### Name: {{ store.name }}
#### Schema: {{ store.schema }}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "live_status_yang_library_module_set_import_only" %}
# Device Live Status YANG Library Module Set Import Only
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for module in hit['module-set'] %}
### Module Name: {{ module.name }}
### Import Only Modules
{%-             for import_only in module['import-only-module'] %}
#### Name: {{ import_only.name }}
##### Namespace: {{ import_only.namespace }}
##### Revision: {{ import_only.revision }}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "live_status_yang_library_module_set_module" %}
# Device Live Status YANG Library Module Set Modules
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for module_set in hit['module-set'] %}
### Module Set: {{ module_set.name }}
{%-             for module in module_set.module %}
#### Module Name: {{ module.name }}
##### Namespace: {{ module.namespace }}
##### Revision: {{ module.revision }}
##### Features
{%-                 for feature in module.feature %}
###### Feature: {{ feature }}
{%-                 endfor %}
{%-             endfor %}
{%-         endfor %}
{%-    endfor %}
{%- elif api == "live_status_yang_library_schema" %}
# Device Live Status YANG Library Schemas
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for schema in hit.schema %}
### Schema Name: {{ schema.name }}
#### Module Set
{%-             for module_set in schema['module-set'] %}
##### {{ module_set }}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "device_capability" %}
# Device Capabilities
{%-     for device in data_to_template['tailf-ncs:device'] %}
{%-         if device['capability']%}
## Name: {{ device.name }}
### Capabilities
{%-             for capability in device['capability'] %}
#### Module: {{ capability.module | default("N/A") }}
##### Revision: {{ capability.revision | default("N/A") }}
##### URI: {{ capability.uri }}
{%-             endfor %}
{%-         endif %}
{%-     endfor %}
{%- elif api == "device_module" %}
# Device Modules
{%-     for device in data_to_template['tailf-ncs:device'] %}
{%-         if device['module']%}
## Device Name: {{ device.name }}
### Modules
{%-             for module in device['module'] %}
#### Name: {{ module.name }}
##### Revision: {{ module.revision }}
{%-             endfor %}
{%-         endif %}
{%-     endfor %}
{%- elif api == "cisco_ios_call_home" %}
# Device Cisco IOS Call Home
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Contact Email Address: {{ hit['contact-email-addr'] }}
{%-         for profile in hit.profile %}
### Profile Name: {{ profile.name }}
#### Active: {{ profile.active }}
#### Smart Licensing Data: {{ profile.reporting['smart-licensing-data'] }}
#### Transport Method
##### Email: {{ profile.destination['transport-method'].email }}
##### HTTP:
{%-             for http in profile.destination['transport-method'].http %}
###### {{ http }}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "cisco_ios_crypto_pki_certificates" %}
# Device Cisco IOS Crypto PKI Certificates
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for chain in hit.pki.certificate.chain %}
### Chain Name: {{ chain.name }}
#### Certificate
{%-             for cert in chain.certificate %}
##### {{ cert.cert | replace("\r\n","\n##### ")}}
#### Certificate Type: {{ cert['cert-type'] }}
#### Certificate Serial: {{ cert.serial }}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "cisco_ios_diagnostic" %}
# Device Cisco IOS Diagnostic
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Bootup Level: {{ hit.bootup.level }}
{%-     endfor %}
{%- elif api == "cisco_ios_enable_password" %}
# Device Cisco IOS Enable Password Secrets
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Password Secret: {{ hit.password.secret }}
{%-     endfor %}
{%- elif api == "cisco_ios_hostname" %}
# Device Cisco IOS Hostname
{%-     for hostname in data_to_template %}
## {{ hostname }}
{%-     endfor %}
{%- elif api == "cisco_ios_interface" %}
# Device Cisco IOS Interface
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### GigabitEthernet
{%-         for interface in hit.GigabitEthernet %}
#### Name: {{ interface.name }}
##### Description {{ interface.description }}
{%-             if interface.ip.address %}
##### IP Address
###### Primary Address: {{ interface.ip.address.primary.address }}
###### Primary Mask: {{ interface.ip.address.primary.mask }}
{%-             endif %}
##### MOP
###### System ID: {{ interface.mop.sysid }}
###### xEnabled: {{ interface.mop.xenabled }}
{%-             if interface.negotiation.auto %}
##### Negotiation Auto: {{ interface.negotiation.auto }}
{%-             else %}
    {%- endif %}
{%-         endfor %}
### Loopback
{%-         for interface in hit.Loopback %}
#### Name: {{ interface.name }}
##### Description: {{ interface.description }}
{%-             if interface.ip.address %}
##### IP Address
###### Primary Address: {{ interface.ip.address.primary.address }}
###### Primary Subnet Mask: {{ interface.ip.address.primary.mask }}
{%-             endif %}
{%-             if interface.shutdown %}
##### Shutdown: {{ interface.shutdown }}
{%-             endif %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "cisco_ios_ip" %}
# Device Cisco IOS IP
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Domain
#### Name: {{ hit.domain.name }}
#### Look Up: {{ hit.domain['lookup-conf'].lookup }}
### Forward Protocol ND: {{ hit['forward-protocol'].nd }}
### HTTP
#### Secure Server: {{ hit.http['secure-server'] }}
#### Server: {{ hit.http.server }}
### SSH Server Algorithm Authentication: {{ hit.ssh.server.algorithm.authentication }}
{%-     endfor %}
{%- elif api == "cisco_ios_ip_route_vrf" %}
# Device Cisco IOS IP Route VRF
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for vrf in hit.route.vrf %}
### VRF Name: {{ vrf.name }}
#### Route
{%-             for route in vrf['ip-route-forwarding-list'] %}
##### Forwarding Address: {{ route['forwarding-address'] }}
##### Prefix Mask: {{ route.mask }}
##### Prefix: {{ route.prefix }}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "cisco_ios_line_console" %}
# Device Cisco IOS Line Console
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
{%-         for console in hit.console %}
### Exec Timeout Minutes: {{ console['exec-timeout'].minutes }}
### First: {{ console.first }}
### Secret: {{ console.password.secret }}
### Stopbits: {{ console.stopbits }}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "cisco_ios_line_vty" %}
# Device Cisco IOS Line VTY
{%-     for hit in data_to_template %}
## Name: {{ hit.device_name }}
{%-         for vty in hit.vty %}
### Exec Timeout Minutes: {{ vty['exec-timeout'].minutes }}
### First: {{ vty.first }}
### Last: {{ vty.last }}
### Local: {{ vty.login.local }}
### Secret: {{ vty.password.secret }}
### Input
{%-             for input in vty.transport.input %}
#### {{ input }}
{%-             endfor %}
{%-         endfor %}
{%-     endfor %}
{%- elif api == "cisco_ios_logging" %}
# Device Cisco IOS Logging
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### Severity Levels:
#### Buffered: {{ hit.buffered['severity-level']}}
#### Monitor: {{ hit.monitor['severity-level']}}
{%-     endfor %}
{%- elif api == "cisco_ios_login" %}
# Device Cisco IOS Login
{%-     for hit in data_to_template %}
## Device Name: {{ hit.device_name }}
### On Success Log: {{ hit['on-success'].log }}
{%-     endfor %}
{%- endif %}